<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 text-center mt-3" style="height: auto; background-color: whitesmoke; border-radius: 5px;">
      <%= form_for :message, url: send_message_messages_path, class:"", remote: true do |f| %>
        <%= f.submit "Send data", class: "btn btn-default my-5" %>
      <% end %>
      <%= link_to "Cancelar",send_page_messages_path, class:"" %>
    </div>
  </div>
</div>
